body {
  font-size: 13px;
}

/* overwrite react.css */
.react-tabs__tab-list {
  margin: 0 0 2px !important;
}

div.tab-area {
  max-height: 85vh;  /* to be modified */
  overflow-y: scroll;
}

article.toot {
  border-bottom: 0.7px solid;
  min-height: 52px;
}

div.toot {
  padding-left: 52px;
  margin: 4px 0;
  position: relative;
}

div.avatar {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  border-radius: 4px;
}

div.boost_avatar {
  position: absolute;
  top: 54px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  border-radius: 2px;
}

div.name-area {
  margin-bottom: 4px;
}

div.account {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span.display-name {
  font-weight: bold;
}

div.toot-time {
  float: right;
  font-size: 11px;
}

div.message-area {
  margin-bottom: 4px;
}

div.message-area p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  word-break: break-all;
}

div.message-area img {
  max-width: 100%;
}

span.show-btn {
  border: 0.6px solid;
  border-radius: 4px;
  cursor: pointer;
}

div.btn-area {
  display: flex;
}

div.btn-area div.btn {
  margin-right: 8px;
}

div.toot-post-parts {
  display: inline-block;
}

div.notify-title {
}

div.notify-avatar {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  display: inline-block;
  border-radius: 3px;
}

div.notify-msg {
  display: inline-block;
}
span.notify-time {
  font-size: 11px;
}

div.your-toot {
  margin: 2px;
  border: 0.8px solid;
  padding: 4px;
}

div.your-toot-msg p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  word-break: break-all;
}

div.outer-textarea {
  border: 0.6px solid;
  border-radius: 4px;
  padding: 2px;
}

div.outer-textarea textarea {
  border: 0px;
}

div.toot-btn {
  float: right;
  border: 0.6px solid;
  border-radius: 3px;
}

div.btn {
  cursor: pointer;
  padding: 4px;
}
