body {
  background: white;
  color: black;
}

article.toot {
  border-color: rgb(187, 193, 199);
}

span.account-name {
  color: #798086;
}

div.toot-time {
  color: #798086;
}

span.show-btn {
  border-color: #ccc;
  background-color: #666;
  color: white;
}

div.bted {
  color: #33f;
}

div.faved {
  color: #993;
}

div.outer-textarea {
  border-color: #ccc;
  background-color: white;
}

div.toot-btn {
  border-color: #ccc;
  background-color: #666;
  color: white;
}

a {
  color: #848a90;
}
